/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
.nav-item {
    font-size: 30px;
}
.inductor_title {
	color: #fff;
}
.row1{
	height: 550px;
	background-image: url("fredrick-tendong-HVYepJYeHdQ-unsplash.jpg");
	background-size: cover;
	opacity: 1.0;
	margin: 0 auto;
	.col-md-12{
		height: 550px;
		h1{
			padding-top: 40px;
			color: rgb(247, 1, 1);
			text-align: center;
			line-height: 60px;

			strong{
				font-size: 60px;
			}
		}
		p{
			text-align: center;
			padding-top: 40px;
		}
	}
}
.home {
	margin: 0 auto;
}
.edituser {
	padding-left: 40px;
}
.bosyu {
	float: right;
}
.Recruitform {
	margin-bottom: 30px;
}